<div class="col-md-12"> 
      <div class="card"> 
        <div class="card-header"> 
          <strong>Basic Form</strong> 
        </div>
        <div class="card-body">
          <div action="" method="post" enctype="multipart/form-data" class="form-horizontal">
            <div class="form-group row">
              <label class="col-md-3 form-control-label" for="text-input">Notification Message</label>
              <div class="col-md-9">
                <textarea  type="text" id="text-input" name="text-input" class="form-control" placeholder="Product Name" [(ngModel)]="nData.message"></textarea>
              </div>
            </div>
          </div>
        </div>
        <div class="card-footer">
          <button type="button" class="btn btn-sm btn-primary" (click)="submitProduct()"><i class="fa fa-dot-circle-o"></i> Submit</button>
          <button type="reset" class="btn btn-sm btn-danger"><i class="fa fa-ban"></i>Reset</button>
        </div>
      </div> 
    </div>

 