<div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <strong>Basic Form</strong>
          Elements 
        </div>
        <div class="card-body">
          <div action="" method="post" enctype="multipart/form-data" class="form-horizontal">
            <div class="form-group row">
              <label class="col-md-3 form-control-label" for="text-input">Hub Name</label>
              <div class="col-md-9">
                <input type="text" id="text-input" name="text-input" class="form-control" placeholder="Hub Name" [(ngModel)]="hubDatas.name">
              
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-3 form-control-label" for="email-input">Hub Address</label>
              <div class="col-md-9">
                <input type="email" id="email-input" name="email-input" class="form-control" placeholder="Hub Address" [(ngModel)]="hubDatas.address">
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-3 form-control-label" for="password-input">Hub Pincode</label>
              <div class="col-md-9">
                <input type="text" id="password-input" name="password-input" class="form-control" placeholder="Hub Pincode" [(ngModel)]="hubDatas.pincode">
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-3 form-control-label" for="disabled-input">Hub LandlineNo</label>
              <div class="col-md-9">
                <input type="text" id="disabled-input" name="disabled-input" class="form-control" placeholder="Hub LandlineNo" [(ngModel)]="hubDatas.lanNo">
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-3 form-control-label" for="textarea-input">Hub Admin</label>
              <div class="col-md-9">
                <input id="text" name="textarea-input" rows="9" class="form-control" placeholder="Hub Admin" [(ngModel)]="hubDatas.admin">
              </div>
            </div>
          </div>
        </div>
        <div class="card-footer">
          <button type="submit" class="btn btn-sm btn-primary" (click)="sbmitHub"><i class="fa fa-dot-circle-o"></i> Submit</button>
          <button type="reset" class="btn btn-sm btn-danger"><i class="fa fa-ban"></i> Reset</button>
        </div>
      </div>
    </div>